body {
  background: #111 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Avenir Next", Helvetica, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding-top: 10%;
  font-weight: 500;
  margin: 0 auto;
}
body.ellyn-marsh {
  background-image: url('ellyn-marsh.jpg');
  background-position: 50% 50%;
}
body.fizaa-dosani {
  background-image: url('fizaa-dosani.jpg');
  background-position: 50% 50%;
}
body.ben-crawford {
  background-image: url('ben-crawford.jpg');
  background-position: 50% 50%;
}
body.lucie-jones {
  background-image: url('lucie-jones.jpg');
  background-position: 50% 50%;
}
body.montell-jordan {
  background-image: url('montell-jordan.jpg');
  background-position: 50% 50%;
}
body.ryan-stasik {
  background-image: url('ryan-stasik.jpg');
  background-position: 50% 50%;
}
body.heather-shaw {
  background-image: url('heather-shaw.jpg');
  background-position: 50% 50%;
}
body.bonavega {
  background-image: url('bonavega.jpg');
  background-position: 50% 50%;
}
body.tom-mcgovern {
  background-image: url('tom-mcgovern.jpg');
  background-position: 50% 50%;
}
body.devora-wilde {
  background-image: url('devora-wilde.jpg');
  background-position: 50% 50%;
}
body.dimitris-kapetanakis {
  background-image: url('dimitris-kapetanakis.jpg');
  background-position: 50% 50%;
}
body.miltos-yerolemou {
  background-image: url('miltos-yerolemou.jpg');
  background-position: 50% 50%;
}
body.courtney-stapleton {
  background-image: url('courtney-stapleton.jpg');
  background-position: 50% 50%;
}
body.grace-mouat-2 {
  background-image: url('grace-mouat-2.jpg');
  background-position: 50% 50%;
}
body.laura-baldwin {
  background-image: url('laura-baldwin.jpg');
  background-position: 50% 50%;
}
body.dominic-andersen {
  background-image: url('dominic-andersen.jpg');
  background-position: 50% 50%;
}
body.raja-meissner {
  background-image: url('raja-meissner.jpg');
  background-position: 50% 50%;
}
body.vinegar-strokes {
  background-image: url('vinegar-strokes.jpg');
  background-position: 50% 50%;
}
body.nicole-raquel-dennis {
  background-image: url('nicole-raquel-dennis.jpg');
  background-position: 50% 50%;
}
body.cleve-september {
  background-image: url('cleve-september.jpg');
  background-position: 50% 50%;
}
body.jonathan-roxmouth {
  background-image: url('jonathan-roxmouth.jpg');
  background-position: 50% 50%;
}
body.charlotte-jaconelli {
  background-image: url('charlotte-jaconelli.jpg');
  background-position: 50% 50%;
}
body.jade-davies {
  background-image: url('jade-davies.jpg');
  background-position: 50% 50%;
}
body.lucy-anderson {
  background-image: url('lucy-anderson.jpg');
  background-position: 50% 50%;
}
body.lawrence-walker {
  background-image: url('lawrence-walker.jpg');
  background-position: 50% 50%;
}
body.paul-ettore-tabone-britt-lenting {
  background-image: url('paul-ettore-tabone-britt-lenting.jpg');
  background-position: 50% 50%;
}
body.virtual-extravaganza-da2-94056 {
  background-image: url('virtual-extravaganza-da2-94056.jpg');
  background-position: 50% 50%;
}
body.virtual-extravaganza {
  background-image: url('virtual-extravaganza.jpg');
  background-position: 50% 50%;
}
body.virtual-extravaganza-da1 {
  background-image: url('virtual-extravaganza-da1.jpg');
  background-position: 50% 50%;
}
body.maddie-bulleyment {
  background-image: url('maddie-bulleyment.jpg');
  background-position: 50% 50%;
}
body.omar-lye-fook {
  background-image: url('omar-lye-fook.jpg');
  background-position: 50% 50%;
}
body.sophie-burrell {
  background-image: url('sophie-burrell.jpg');
  background-position: 50% 50%;
}
body.maiya-quansah-breed {
  background-image: url('maiya-quansah-breed.jpg');
  background-position: 50% 50%;
}
body.sophie-evans {
  background-image: url('sophie-evans.jpg');
  background-position: 50% 50%;
}
body.sophie-isaacs {
  background-image: url('sophie-isaacs.jpg');
  background-position: 50% 50%;
}
body.kelly-mathieson {
  background-image: url('kelly-mathieson.jpg');
  background-position: 50% 50%;
}
body.tshan-williams {
  background-image: url('tshan-williams.jpg');
  background-position: 50% 50%;
}
body.hana-stewart {
  background-image: url('hana-stewart.jpg');
  background-position: 50% 50%;
}
body.jessamy-stoddart {
  background-image: url('jessamy-stoddart.jpg');
  background-position: 50% 50%;
}
body.christina-bennington {
  background-image: url('christina-bennington.jpg');
  background-position: 50% 50%;
}
body.kieran-lai {
  background-image: url('kieran-lai.jpg');
  background-position: 50% 50%;
}
body.tarinn-callender {
  background-image: url('tarinn-callender.jpg');
  background-position: 50% 50%;
}
body.blake-patrick {
  background-image: url('blake-patrick.jpg');
  background-position: 50% 50%;
}
body.alistair-brammer {
  background-image: url('alistair-brammer.jpg');
  background-position: 50% 50%;
}
body.kelly-downing {
  background-image: url('kelly-downing.jpg');
  background-position: 50% 50%;
}
body.caroline-kay {
  background-image: url('caroline-kay.jpg');
  background-position: 50% 50%;
}
body.jason-pennycooke {
  background-image: url('jason-pennycooke.jpg');
  background-position: 50% 50%;
}
body.alicia-corrales-connor {
  background-image: url('alicia-corrales-connor.jpg');
  background-position: 50% 50%;
}
body.kelsey-ellison {
  background-image: url('kelsey-ellison.jpg');
  background-position: 50% 50%;
}
body.amber-doig-thorne {
  background-image: url('amber-doig-thorne.jpg');
  background-position: 50% 50%;
}
body.rachel-john {
  background-image: url('rachel-john.jpg');
  background-position: 50% 50%;
}
body.josh-piterman {
  background-image: url('josh-piterman.jpg');
  background-position: 50% 50%;
}
body.cassidy-janson {
  background-image: url('cassidy-janson.jpg');
  background-position: 50% 50%;
}
body.karl-queensborough {
  background-image: url('karl-queensborough.jpg');
  background-position: 50% 50%;
}
body.killian-donnelly {
  background-image: url('killian-donnelly.jpg');
  background-position: 50% 50%;
}
body.michael-jibson {
  background-image: url('michael-jibson.jpg');
  background-position: 50% 50%;
}
body.olivia-moore {
  background-image: url('olivia-moore.jpg');
  background-position: 50% 50%;
}
body.leslie-garcia {
  background-image: url('leslie-garcia.jpg');
  background-position: 50% 50%;
}
body.jordan-luke {
  background-image: url('jordan-luke.jpg');
  background-position: 50% 50%;
}
body.jodie-steele {
  background-image: url('jodie-steele.jpg');
  background-position: 50% 50%;
}
body.leanne-robinson {
  background-image: url('leanne-robinson.jpg');
  background-position: 50% 50%;
}
body.courtney-bowman {
  background-image: url('courtney-bowman.jpg');
  background-position: 50% 50%;
}
body.emma-hatton {
  background-image: url('emma-hatton.jpg');
  background-position: 50% 80%;
}
body.layton-williams {
  background-image: url('layton-williams.jpg');
  background-position: 50% 50%;
}
body.danielle-steers {
  background-image: url('danielle-steers.jpg');
  background-position: 40% 50%;
}
body.grace-mouat {
  background-image: url('grace-mouat.jpg');
  background-position: 50% 50%;
}
body.natalie-paris {
  background-image: url('natalie-paris.jpg');
  background-position: 50% 50%;
}
body.hiba-elchikhe {
  background-image: url('hiba-elchikhe.jpg');
  background-position: 50% 80%;
}
body.luke-bayer {
  background-image: url('luke-bayer.jpg');
  background-position: 0% 50%;
}
body:after {
  content: "";
  background: #111;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
a {
  color: #eb1234;
}
.container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}
button {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  border: solid transparent 4px;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  border-radius: 100px;
  background: #eb1234;
  color: #fff;
  padding: 10px;
  width: 90%;
  min-width: 200px;
  outline: none;
  transition: all .3s;
  position: relative;
}
button:hover:not(.soldout) {
  border-color: #eb1234;
  color: #eb1234;
  background: none;
}
button.soldout {
  background: rgba(235, 18, 52, .4);
  color: #777;
  cursor: not-allowed;
}
button.soldout:before {
  content: 'Sold Out';
  font-size: 14px;
  color: #fff;
  display: block;
  text-align: center;
  position: absolute;
  transform: rotate(-20deg);
  left: -5%;
  top: -2%;
}
div {
  background: rgba(0,0,0,.8);
  border-radius: 40px;
  padding: 30px;
  margin: 3em 0;
}
h1 {
  font-size: 40px;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
h1,
h2 {
  text-shadow: 5px 10px 20px rgba(0,0,0,.7);
}
h3 {
 font-size: 22px;
 font-weight: 700;
}
h4 {
  width: 90%;
  font-size: 17px;
  font-weight: 100px;
  margin: 0 auto;
  display: block;
  color: #bbb;
  text-align: left

}
small+button {
  margin-top: 5px;
}
small {
  width: 90%;
  margin: 0 auto;
  display: block;
  color: #bbb;
  font-weight: 600;
}
ul li {
 padding: 0 0 2px 2px;
 text-align: left;
}
